* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

.contenedor {
    max-width: 1000px;
    margin: auto;
}

.header {
    margin: auto;
    max-width: 1000px;
    text-align: left;
    padding: 5px 5px;
    display: flex;
}

.logo {
    flex: 1;
}

.menu {
    flex: 1;
    padding: 3px;
}

.menu ul {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(221, 38, 38);

}

.menu li {
    list-style-type: none;
    padding: 5px 15px;
    font: bold 14px verdana;
    display: inline-block;
}

.menu li:hover {
    border-radius: 10px;
    background-color: rgb(90, 30, 30);
}

.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}

.cajadiv {
    margin: 10px;
    padding: 20px;
}

.divisor {
    border: solid 1px #91a3a1;
}

.divisor-serv {
    text-transform: uppercase;
    top: -18px;
    position: relative;
    margin: auto ;
    text-align: center;
    width: fit-content;
    padding: 5px 30px;
    border-radius: 50px;
    color: white;
    background-color:rgb(221, 38, 38);

    border: solid 2px #91a3a1;
    box-shadow: inset 0px 0px 6px 1px black;
}

.leyenda {
    max-width: 800px;
    padding: 10px 10px;
    margin: 3em 3em;
    color: gray;
    font-size: smaller;
    font-family: cursive;
    text-align: center;
    border: solid 5 px rgb(0, 0, 0, .25);
}

.imagen-carrusel {
    background-color: rgb(45, 46, 45);
    width: 960px;
    height: 350px;
    text-align: center;
    color: white;
}

.imagen-carrusel {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.imagen-carrusel ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 8s infinite alternate linear;
}

.imagen-carrusel li {
	width: 100%;
	list-style: none;
}

.imagen-carrusel img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.box {
    color: gray;

    text-align: left;
    height: fit-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex: auto;
    margin: 10px auto;
    align-content: space-around 1px;
}

.box img {
    width: 30px;
    height: 30px;
    justify-items: stretch;
    margin-top: 5px;
}

.box h4 {
    text-indent: 60px;
    text-align: left;
    margin-top: -29px;
}

.one a,
.two a,
.three a {
    text-decoration: none;
    color:red;

}

.caritas {
    display: flex;
}

.cara {
    color: gray;
    align-content: space-between 5px;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
    margin: 10px;
}

.cara img {
    width: 120px;
}

.cara b {
    font-style: oblique;
}

.cara>a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 50px;
    color: white;
    background-color:rgb(221, 38, 38);
    red;
    border: solid 2px #91a3a1;
    box-shadow: inset 0px 0px 6px 1px black;
}

.cara>a:hover {
    border-radius: 50px;
    background-color: rgb(90, 30, 30);
}

.galerybox {
    margin:  auto;
    display: flex;
    justify-content: space-between;
}

.galerybox img{
    width: 300px;
}

.footer {
    background-color: #ddddddfb;
}

.divfoot {
    text-align: center;
    margin: auto;
    max-width: 1000px;
    border: white 1px inset;
}

.copyright {
    margin: auto;
    background-color: #ddddddfb;
    text-align: left;
    max-width: 1000px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    text-shadow: gray;
}

.contenedorf {
    
    max-width: 1000px;
    margin:  20px auto;
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
}

.details{
list-style-type: none;
}

.details li {
    color: gray;
}

.details h4 {
    font-size: medium;
    color: gray;
}

.lastblog {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.lastblog h3 {
    display: block;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0);
}

.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
}

.contenedors .form {
    width: auto;
    max-height: 400px;
    max-width: 300px;
    margin: 5px auto;
    padding: 5px 50px;
    border-radius: 3px;
}

.contenedors .form .form-input .form-textarea {
    height: 400px;
    border-bottom: 2px solid rgb(221, 38, 38);
    border-radius: 20px;
    max-height: 400px;
}

.contenedors {
    margin-top: -20px;
    text-align: center;
    max-width: 450px;
    padding: 15px;
}

.contenedors .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedors .form .btn-submit {
    font-family: sans-serif;
    font-size: small;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 50px;
    color: white;
    background-color:rgb(221, 38, 38);
    ;
    border: solid 2px #91a3a1;
    box-shadow: inset 0px 0px 5px 1px black;
}

.contenedors .form .btn-submit:hover {
    border-radius: 50px;
    background-color: rgb(90, 30, 30);
}

.form-input {
    width: 200px;
    padding: 5px;
}

.post1, .post2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.cajita img {
    padding: 2px;
    height: 80px;
    margin-right: 10px;
    border: inset 1px #ffffff;
}

.lastblog a,.b {
    text-decoration: none;
    color:rgb(221, 38, 38);
}

.nompost span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}