* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 1000px;
    width: 95%;
    margin: auto;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #91a3a1;
}

.logo {
    padding-left: 20px;
}

.menu {
    padding: 3px;
}

.menu ul {
    border-radius: 10px;
    background-color:rgb(221, 38, 38);
    display: flex;
    align-items: center;
}

.menu li {
    list-style-type: none;
    padding: 10px 15px;
    display: inline-block;
    flex-grow: 1;
    text-align: center  ;
}

.menu li:hover {
    border-radius: 10px;
    background-color: rgb(90, 30, 30);
}

.menu a {
    text-decoration: none;  
    font-size: .8em;
    color: white;
    text-transform: uppercase;
}

/* El divisor se puede hacer con 3 elementos que junto a la propiedad FLEX en el padre, se alinean como un unico elemento */

.divider {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.divider hr {
    flex-grow: 1;
}

.divider .msg {
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 50px;
    color: white;
    background-color: rgb(221, 38, 38);
}

.leyenda {
    margin: 2em;
    color: #808080;
    font-size: 1em;
    text-align: center;
    font-style: italic;
}

/* Insertamos un caracter o texto antes y despues del elemento */

.leyenda:before, .leyenda:after {
    content: '"';
}

.imagen-carrusel {
    background-color: rgb(45, 46, 45);
    width: 960px;
    height: 350px;
    text-align: center;
    color: white;
}

.imagen-carrusel {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.imagen-carrusel ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 8s infinite alternate linear;
}

.imagen-carrusel li {
	width: 100%;
	list-style: none;
}

.imagen-carrusel img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


.box {
    font-family: Arial, sans-serif;
    display: flex;
}

.card {
    padding: 1em;
}

.card img {
    height: 30px;
    padding-right: 1em;
}

.card .card-title {
    color: rgb(100, 100, 100);
    display: flex;
    margin-bottom: .8em;
    font-weight: bold;
}

.card .card-body p {
    color: gray;
    font-size: .9em;
    margin-bottom: .8em;
}


.card a {
    text-decoration: none;
    font-size: .8em;
    color: #dd3a37;
    text-transform: uppercase;
}

.card a::after{
    content: '»';
}

.caritas {
    display: flex;
}

.cara {
    color: gray;
    align-content: space-between 5px;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: center;
    margin: 10px;
}

.cara img {
    width: 80%;
}

.cara b {
    font-style: oblique;
}

.cara p {
    padding: 10px;
}

.cara a {
    text-decoration: none;
    font-size: .8em;
    color: #dd3a37;
    text-transform: uppercase;
}

.cara a::after{
    content: '»';
}


.galerybox {
    margin:  auto;
    display: flex;
    justify-content: space-between;
}

.galerybox img{
    width: 300px;
}

.footer {
    background-color: #ddddddfb;
}

.divfoot {
    text-align: center;
    margin: auto;
    max-width: 1000px;
    border: white 1px inset;
}

.copyright {
    margin: auto;
    max-width: 1000px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorf {
    
    max-width: 1000px;
    margin:  20px auto;
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
}

.details{
list-style-type: none;
flex: 1;
}

.details li {
    color: gray;
    font-size: 14px;
}

.details h4 {
    font-size: medium;
    color: gray;
}

.lastblog {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.lastblog h3 {
    display: block;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0);
}

.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
}

.contenedors {
    flex: 1;
}

.contenedors h3 {
    margin-bottom: 10px;
}

.contenedors .form {
    display: flex;
    flex-direction: column;
}

.contenedors .form .btn-submit {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(221, 38, 38);
    border: none;
    width: 30%;
}

.contenedors .form .btn-submit:hover {  
    background-color: rgb(90, 30, 30);
}

/* El atributo Resize es necesario para no romper el estilo al cambiar el tamaño del textarea */
.contenedors input, 
.contenedors textarea {
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 5px;
    border: none;
}

.post1, .post2 {
    display: flex;
    padding-bottom: 10px;
    padding-right: 20px;    
}


.cajita img {
    padding: 2px;
    height: 80px;
    margin-right: 10px;
    border: inset 1px #ffffff;
}

.lastblog a,.b {
    text-decoration: none;
    color:rgb(221, 38, 38);
}

.nompost {
    display: flex;
    flex-direction: column;
}

.nompost span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}